<%= form_for(@a1c) do |f| %>
  <% if @a1c.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@a1c.errors.count, "error") %> prohibited this a1c from being saved:</h2>

      <ul>
      <% @a1c.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
